@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ruslan+Display&display=swap');

h1 {
    font-family: 'Ruslan Display', cursive;
    color:blue;
    background-color: rgb(183, 240, 240);
    text-align:center;
    border-color: midnightblue;
    border-style: solid;
    border-width: 5px;
    width: 100%;
      
}

h1 {
    font-size: 50px;

}



h2 {
    font-family: 'Ruslan Display', cursive;
    color: teal;
    background-color: lightblue;
    width: 50%;
    text-align:center;
    border-color: midnightblue;
    border-width: 5px;
    border-style:solid;
    margin: 5px;
    margin-left: 350px;
    padding: 5px;
}

    
body {
   background-image:url(danielsworkseven.jpg);
   background-size: cover;
   
}

.content {
    background-color: lightblue;
    width: 100%;
    text-align:center;
    border-color: midnightblue;
    border-width: 5px;
    border-style:solid;
    margin: 5px;
}

.container {
    display:flex;
    min-height: 100vh;
    flex-direction: row;
}